*{
    margin: 0;
    padding:0;
    box-sizing:border-box;

}

html,body{
    width:100%;
    height: 100%;
    
}

#main{
    gap:10vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 150vh;
    background-color: #202020;
}
.cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    background-position: center;
    background-size: cover;
}

#card-one {
    top: 130%;
    background-image: url(wp4289821-bmw-headlights-wallpapers.jpg);
}

#card-two {
    top: 230%;
    background-image: url(wp14507580-bmw-headlight-4k-wallpapers.jpg);
}

#card-three {
    top: 250%;
    background-image: url(wp15503233-bmw-head-light-wallpapers.jpg);
}


.text{
    position: absolute; /*see the react folder for center allignment - use just 4 properties in .text and u get center allignment*/
    width: 77%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.text-img{
    width: 5vw;
    height: 5vw;
    /* background-color: #fff; */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWgOKtgx1PR4-FlRtpAWwgOAf-tfYvogy-pg&s);
    background-size: cover;
    background-position: center;
}

.text h1{
    font-size: 3vw;
    color: #fff;
    text-align: center;
}

.text p{
    font-size: 1vw;
    color: rgb(126, 126, 126);
    text-align: center;
}

