 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }

        html, body {
          width: 100%;
          height: 100%;
        }

        .main-container {
          width: 100%;
          min-height: 100vh;
          background-color: #DAEEFB;
        }

        .nav {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 10vh;
          padding: 0 5vw;
        }

        .nav a {
          text-decoration: none;
          color: #000;
          font-family: 'Inter', sans-serif;
        }

        .nav-center {
          font-size: 2vw;
          font-weight: 500;
        }

        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 15vh;
          width: 100%;
          height: 90vh;
          padding: 0 15vw;
          font-family: 'Inter', sans-serif;
          font-size: 1.5vw;
          letter-spacing: 0.1vw;
        }

        .content h1 {
          text-align: center;
          font-weight: 500;
          line-height: 1.5;
        }

        .dots-div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 5vh;
        }

        .dot {
          width: 0.3vw;
          height: 0.3vw;
          border-radius: 50px;
          background-color: rgb(0, 0, 0);
        }

        .img-div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100vh;
        }

        .img {
          width: 25vw;
          height: 50vh;
          background-image: url('https://images.unsplash.com/photo-1519641471654-76ce0107ad1b?w=1200');
          background-size: cover;
          background-position: center;
        }